@import url(./fonts.css);

.red-div{
    width: 1920px;
    height: 642px;
    background: #FF434B 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 161px 0;
    font-family: 'GlacialBold', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.red-div-heading{
    font-size: 45px;
    line-height: 47px;
    letter-spacing: -0.9px;
    width: 792px;
}

.arrow-image{
    margin: 87px 0 57px 0;
}

.red-div-small-para{
    font-family: 'MuliRegular', sans-serif;
    line-height: 23px;
    margin-bottom: 15px;
}

.red-div-vidoe-name{
    font-family: 'GlacialBold', sans-serif;
    font-size: 14px;
    line-height: 35px;
}